@model RoleBased.Models.ViewModel.MaterialsIndexVM;


<link href="~/css/materials.css" rel="stylesheet" />
<link href="~/lib/JqueryToast/jquery.toast.css" rel="stylesheet" />
<style>
    .employee-image__container {
        cursor: pointer;
    }

        .employee-image__container img {
            max-width: 100%;
            max-height: 100%;
        }
</style>


<div class="container m-0">
    <div class="row">
        <div class="container-fluid mt-3 py-2" style="background-color:#2c2a2a;  ">
        </div>



    </div>
</div>

<div class="container m-0">


    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-7 col-sm-7">
            <div class="card m-0">
                <div class="card-header border-bottom-0">
                    <h4 class="card-title">Materials Details</h4>
                </div>
                <div class="card-body">
                    <form asp-action="UpateMaterials" id="formIdCreateProject" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <input type="hidden" asp-for="MaterialsViewModel.materialsId" id="materialsId" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputName" class="col-md-3 form-label">Materials Name</label>
                                    @Html.DisplayFor(model => model.MaterialsViewModel.materialName)
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-md-3 form-label">Username</label>
                                    @Html.DisplayFor(model => model.MaterialsViewModel.Username)
                                </div>

                                <div class="form-group" style="display:flex; ">
                                    <label for="inputName" class="col-md-3 form-label">Materials Image:</label>
                                    <div class="employee-image__container" style="margin-left:4px;">
                                        <img src="~/Images/@Model.MaterialsViewModel.Image" alt="Brajesh Gupta" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputName" class="col-md-3 form-label">Materials Amount:</label>
                                    @Html.DisplayFor(model => model.MaterialsViewModel.Amount)
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-md-3 form-label">Materials CreatedDate:</label>
                                    @Html.DisplayFor(model => model.MaterialsViewModel.CreatedDate)
                                </div>
                                <div class="form-group">

                                    <label for="inputName" class="col-md-3 form-label">Status:</label>

                                    <select asp-for="MaterialsViewModel.Status" asp-items="Html.GetEnumSelectList<RoleBased.Enum.MaterialStatus>()" class="status">
                                        <option value="">Materials Status</option>
                                    </select>

                                </div>
                            </div>




                        </div>

@*
                        <div class="form-group mb-0 mt-4">
                            <div class="col-md-9">

                                <a class="btn-icon tpd btnUpdate btn btn-primary" data-ajax="true" id="@Model.MaterialsViewModel.materialsId" modal-id="@Model.MaterialsViewModel.materialsId" data-toggle="modal" data-target=".project-modal">

                                    Submit

                                </a>


                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container m-0">
    <div class="row">
        <div class="container-fluid mt-3 py-2" style="background-color:#2c2a2a;  ">
           
        </div>

       

    </div>
</div>

@*<script src="~/js/site.js"></script>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/JqueryToast/jquery.toast.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const imagePreview = document.querySelector('.employee-image__container');
        const image = imagePreview.querySelector('img');

        imagePreview.addEventListener('click', function () {
            image.classList.toggle('img-thumbnail'); // Toggle Bootstrap's 'img-thumbnail' class
            image.style.maxWidth = image.classList.contains('img-thumbnail') ? '100%' : '200%';
            image.style.maxHeight = image.classList.contains('img-thumbnail') ? '100%' : '200%';
        });
    });


    $(".btnUpdate").on('click', function () {
        debugger;
        var form = $("#formIdCreateProject").serialize();

        //}
        $.ajax({
            type: "POST",
            url: "/Materials/GetMaterialsDetails",
            data: form,
            success: function (data) {
                debugger;
                if (data === true) {
                    $.toast({
                        heading: 'Success',
                        text: 'Accepted this materials',
                        icon: 'success',
                        position: 'top-right',
                    });

                    $('#inputName').val('');
                    // Redirect to '/Materials/Materials' page only if the data is true
                    window.location.reload();
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

    });

    $('.status').on('change', function () {
        debugger
        var status = $('.status option:selected').text();
        var materialsId = document.getElementById('materialsId').value;
        window.location.href = '/Materials/ShowMaterials?status=' + status + '&MaterialsId=' + materialsId;
    });
</script>

