@model RoleBased.Models.ViewModel.MaterialsIndexVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/materials.css" rel="stylesheet" />
<link href="~/lib/JqueryToast/jquery.toast.css" rel="stylesheet" />


<div class="container-fluid mt-3 py-2" style="background-color:#2c2a2a;  ">
    <h8 style="color:white;">You can find All types of Second Hand Materials Here! </h8>
</div>


<div class="container-fluid " style=" height:600px; overflow-x:scroll;">


    <div class="row">

        @if (Model.UseStatus == "Approved")
        {
            @foreach (var item in Model.RecommendProduct)
            {
                <div class="col-md-3 mt-4 text-md-center    ">
                    <div class="card" style="width: 18rem; ">


                        <div class="card-bodys">
                            <h5 class="card-title py-2" style="font-weight: bold; font-family: " Arial", sans-serif;">-- @Html.DisplayFor(modelItem => item.materialName) --</h5>

                            <div class="d-flex" style="width:100%; justify-content:center; object-fit:cover;">
                                <img class="card-img-top d-flex" src="~/Images/@item.Image" alt="Suman" style="width:100px;height:100px; object-fit:cover; border-radius:10px; border:2px solid green;" />
                            </div>
                            <div class="mt-1">
                                @{
                                    var status = item.Status;

                                    if (status == RoleBased.Enum.MaterialStatus.Approved)
                                    {
                                        <a class="badge badge-success btn-stss btn-activate text-white">Accepted</a>
                                    }
                                    else if (status == RoleBased.Enum.MaterialStatus.Pending)
                                    {
                                        <a class="badge badge-info btn-stss btn-inactivate text-white">Pending</a>

                                    }
                                    else
                                    {
                                        <a class="badge badge-danger btn-stss btn-inactivate text-white">Rejected</a>
                                    }
                                }
                            </div>





                            <div class="d-flex mt-3 py-4" style="justify-content:space-evenly;">

                                @{
                                    var Status = item.Status;
                                    if (Status == RoleBased.Enum.MaterialStatus.Approved)
                                    {
                                        <span style="display: none;"></span>
                                    }
                                    else
                                    {
                                        <a class=" btn-success btn-icon btn-sm tpd btnUpdate" data-ajax="true" id="@item.materialsId" modal-id="@item.materialsId" data-toggle="modal" data-target=".project-modal" style="background-color:#33b482;color:#fff;">
                                            More  <i class="feather feather-edit" data-toggle="tooltip" data-original-title="Edit"></i>
                                        </a>
                                    }
                                }


                                <p class="card-text"><b>Rs:<i> @Html.DisplayFor(modelItem => item.Amount)</i></b></p>
                            </div>




                        </div>
                    </div>
                </div>

            }

        }
        else
        {
            @foreach (var item in Model.MaterialsViewModels)
            {
                <div class="col-md-3 mt-4 text-md-center    ">
                    <div class="card" style="width: 18rem; ">


                        <div class="card-bodys">
                            <h5 class="card-title py-2" style="font-weight: bold; font-family: " Arial", sans-serif;">-- @Html.DisplayFor(modelItem => item.materialName) --</h5>

                            <div class="d-flex" style="width:100%; justify-content:center; object-fit:cover;">
                                <img class="card-img-top d-flex" src="~/Images/@item.Image" alt="Suman" style="width:100px;height:100px; object-fit:cover; border-radius:10px; border:2px solid green;" />
                            </div>
                            <div class="mt-1">
                                @{
                                    var status = item.Status;

                                    if (status == RoleBased.Enum.MaterialStatus.Approved)
                                    {
                                        <a class="badge badge-success btn-stss btn-activate text-white">Accepted</a>
                                    }
                                    else if (status == RoleBased.Enum.MaterialStatus.Pending)
                                    {
                                        <a class="badge badge-info btn-stss btn-inactivate text-white">Pending</a>

                                    }
                                    else
                                    {
                                        <a class="badge badge-danger btn-stss btn-inactivate text-white">Rejected</a>
                                    }
                                }
                            </div>





                            <div class="d-flex mt-3 py-4" style="justify-content:space-evenly;">

                                @{
                                    var Status = item.Status;
                                    if (Status == RoleBased.Enum.MaterialStatus.Approved)
                                    {
                                        <span style="display: none;"></span>
                                    }
                                    else
                                    {
                                        <a class=" btn-success btn-icon btn-sm tpd btnUpdate" data-ajax="true" id="@item.materialsId" modal-id="@item.materialsId" data-toggle="modal" data-target=".project-modal" style="background-color:#33b482;color:#fff;">
                                            More  <i class="feather feather-edit" data-toggle="tooltip" data-original-title="Edit"></i>
                                        </a>
                                    }
                                }


                                <p class="card-text"><b>Rs:<i> @Html.DisplayFor(modelItem => item.Amount)</i></b></p>
                            </div>




                        </div>
                    </div>
                </div>

            }
            
        }

       

        <div class="modal fade project-modal" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="project-content">
                </div>

            </div>
        </div>

    </div>
</div>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/JqueryToast/jquery.toast.js"></script>
<script>
    $(".btnUpdate").on('click', function () {
        debugger;
        var Id = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Materials/GetMaterialsDetails",
            data: { materialsId: Id },
            success: function (response) {
                $('#project-content').html(response);



            },

            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    });
</script>